.banner{
  margin: auto;
  width: 1024px;
}

header{
  background-color: #001a33;
  padding: 20px;
  text-align: center;
  text-shadow: -5px -5px 5px #66ccff;
  font-family: impact;
  font-size: 25px;
}

header a{
  text-decoration: none;
  color: white;
}

body{
  background-color:#ccffff;
}
.container{
  margin: auto;
  width: 1024px;
  background-color:#66ccff;
  box-shadow: 30px 10px 20px #003380;
}

aside{
  margin-top: 60px;
  float: right;
  width: 300px;
  position: sticky;
  top: 25px;
  right: 200px;
  border-radius:20px;
  background-color: 	#3385ff;
  box-shadow: -5px -5px 5px #aaa;
}

aside a{
    text-decoration: none;
    color: black;
    font-family: verdana;
}

.side{
  float: right;
  width: 255px;
  list-style-type: none;
}

section{
  width: 700px;
  padding-left: 20px;
}

section a{
  text-decoration: none;
  color: black;
  font-family: verdana;
}

section a:hover{
  text-decoration: underline;

}

footer{
  width: 1024px;
  height: 100px;
  background-color:#001a33;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 30px
}

.piePagina a{
  color: white;
  text-align: center;
  margin-top: 0px;
  text-decoration: none;
  display: inline;

}

.piePagina ul{
    list-style-type: none;
    text-align: center;
    font-family: verdana;
    font-size: 15px;
}

label{
  font-family: verdana;
}
